<%= form_with model: recipe do |form| %>
  <% if recipe.errors.any? %>
    <div>
      <h4><%= pluralize(recipe.errors.count, 'error') %> prohibited this object from being saved:</h4>
      <ul>
        <% recipe.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  <div>
    <%= form.label :name %> <br>
    <%= form.text_field :name %>
  </div>
  <div>
    <%= form.label :preparation_time %> <br>
    <%= form.text_field :preparation_time %>
  </div>
  <div>
    <%= form.label :cooking_time %> <br>
    <%= form.text_field :cooking_time %>
  </div>
  <div>
    <%= form.label :description %> <br>
    <%= form.text_field :description %>
  </div>
   <div>
      <%= form.label :public %><br/>
      <%= form.label :public, "Yes", value: "true" %>
      <%= form.radio_button :public, true, checked: true %> &nbsp; &nbsp;
      <%= form.label :public, "No", value: "false" %>
      <%= form.radio_button :public, false %>
    </div>
    <div>
    <%= form.label :user_id %>
    <%= form.collection_select :user_id, User.all, :id, :name, { include_blank: true } %>
  </div>
  <div>
    <%= form.submit %>
  </div>
<% end %>
