<%= form_with model: food do |form| %>
  <% if food.errors.any? %>
    <div>
      <h4><%= pluralize(food.errors.count, 'error') %> prohibited this object from being saved:</h4>
      <ul>
        <% food.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  <div>
    <%= form.label :name %> <br>
    <%= form.text_field :name %>
  </div>
  <div>
    <%= form.label :measurement_unit %> <br>
    <%= form.text_field :measurement_unit %>
  </div>
  <div>
    <%= form.label :price %> <br>
    <%= form.text_field :price %>
  </div>
  <div>
    <%= form.label :quantity %> <br>
    <%= form.number_field :quantity %>
  </div>
  <div>
    <%= form.submit %>
  </div>
<% end %>
